In [2]:
# Imports modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('donnees-hospitalieres-covid19-2021-09-20-19h05.csv', sep=';')

In [4]:
data

,dep,sexe,jour,hosp,rea,HospConv,SSR_USLD,autres,rad,dc
0,01,0,2020-03-18,2,0,NaN,NaN,NaN,1,0
1,01,1,2020-03-18,1,0,NaN,NaN,NaN,1,0
2,01,2,2020-03-18,1,0,NaN,NaN,NaN,0,0
3,02,0,2020-03-18,41,10,NaN,NaN,NaN,18,11
4,02,1,2020-03-18,19,4,NaN,NaN,NaN,11,6
...,...,...,...,...,...,...,...,...,...,...
168355,976,0,2021-09-20,8,2,6.0,0.0,0.0,1289,133
168356,976,1,2021-09-20,4,1,3.0,0.0,0.0,584,78
168357,976,2,2021-09-20,4,1,3.0,0.0,0.0,684,54
168358,978,0,2021-09-20,0,0,0.0,0.0,0.0,0,1
168359,978,1,2021-09-20,0,0,0.0,0.0,0.0,0,1

In [5]:
data.info()

# Beaucoup de NaNs dans HospConv, SSR_URL, autres

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168360 entries, 0 to 168359
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   dep       168360 non-null  object
 1   sexe      168360 non-null  int64
 2   jour      168360 non-null  object
 3   hosp      168360 non-null  int64
 4   rea       168360 non-null  int64
 5   HospConv  58255 non-null   float64
 6   SSR_USLD  58255 non-null   float64
 7   autres    58255 non-null   float64
 8   rad       168360 non-null  int64
 9   dc        168360 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 12.8+ MB